<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	{% endblock %}
</head>
<body>
	{% block nav %}
	{% endblock %}
	<div id="wrapper">
		{% block content %}
		{% endblock %}
	</div>	
</body>
{% block footer %}
<script>
window.addEventListener('load', function () {

	// Insert the nav buttons, after the page is loaded
	
	const nav = document.createElement('div');
	nav.id = 'nav';
	nav.innerHTML = `
		<a id="home" href="/"><button>/</button></a> 
	`;
	document.body.insertBefore(nav, document.body.firstChild)
})
</script>
{% endblock %}
</html>
