{% extends "base.html" %} {% block head %}
<meta http-equiv="Content-Style-Type" content="text/css" />
<script src="{{ url_for('static', filename='js/paged.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/p5.js')}}"></script>
<!-- <script src="{{ url_for('static', filename='js/paged.polyfill.js')}}" type="text/javascript"></script> -->
<!-- <link href="{{ url_for('static', filename='css/pagedjs.css')}}" rel="stylesheet" type="text/css" media="screen" /> -->
<!-- <link href="{{ url_for('static', filename='css/print.css')}}" rel="stylesheet" type="text/css" media="print" /> -->
<!-- <link href="{{ url_for('static', filename='css/baseline.css')}}" rel="stylesheet" type="text/css" media="print" /> -->
<link href="{{ url_for('static', filename='css/preview.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename=title + '.css') }}" rel="stylesheet" type="text/css" media="screen">

<script>
	this.ready = new Promise(function ($) {
		document.addEventListener("DOMContentLoaded", $, { once: true });
	});
</script>

<script>
	class MyHandler extends Paged.Handler {
		constructor(chunker, polisher, caller) {
			super(chunker, polisher, caller);
			this.chunker = chunker;
			this.polisher = polisher;
			this.caller = caller;
		}

		onAtPage(atPageNode) {
			console.log(atPageNode);
		}

		afterPageLayout(pageFragment, page) {
			console.log(pageFragment, page, this.chunker, this.polisher, this.caller );
			pageFragment.style.position = "relative";
			console.log(this.chunker.total);
			let isRight = page.element.classList.contains("pagedjs_right_page");

			const s = (sketch) => {
				let canvas;
				sketch.setup = () => {
					canvas = sketch.createCanvas(200, 200);
					canvas.parent(pageFragment);
					canvas.position(0, 0);
					canvas.style("z-index", "-1");
					sketch.resizeCanvas(
						pageFragment.offsetWidth,
						pageFragment.offsetHeight
					);
					sketch.background(220);
					sketch.fill(255, 128, 0);
					sketch.noStroke();
					if (isRight) {
						sketch.rect( sketch.width - 10, 0, 10, sketch.random(0, sketch.height) );
					} else {
						sketch.rect(0, 0, 10, sketch.random(50, 150));
					}
				};

				// sketch.draw = () => {
				//   sketch.background(220);
				//   sketch.fill(255, 0, 0);
				//   sketch.rect(x, y, 50 + sketch.random(0,50), 50);

				// };
			};

			let myp5 = new p5(s); 
			
		}
	}

	// ready.then(async function () {
	// 	let main = document.querySelector("#main");
	// 	let polisher, chunker;

	// 	polisher = new Paged.Polisher();
	// 	chunker = new Paged.Chunker(
	// 		document.getElementById("source").content,
	// 		document.body
	// 	);

	// 	Paged.registerHandlers(MyHandler);
	// 	Paged.initializeHandlers(chunker, polisher);

	// 	styleText = await polisher.add({ "aurorae/book.css": "" });
	// });

	ready.then(async function () {
      let flowText = document.querySelector("#source");

      let t0 = performance.now();
			Paged.registerHandlers(MyHandler);
      let paged = new Paged.Previewer()

      paged.preview(flowText.content).then((flow) => {
        let t1 = performance.now();

        console.log("Rendering " + flow.total + " pages took " + (t1 - t0) + " milliseconds.");
      });

      let resizer = () => {
        let pages = document.querySelector(".pagedjs_pages");

        if (pages) {
          let scale = ((window.innerWidth * .9 ) / pages.offsetWidth);
          if (scale < 1) {
            pages.style.transform = `scale(${scale}) translate(${(window.innerWidth / 2) - ((pages.offsetWidth * scale / 2) ) }px, 0)`;
          } else {
            pages.style.transform = "none";
          }
        }
      };
      resizer();

      window.addEventListener("resize", resizer, false);

      paged.on("rendering", () => {
        resizer();
      });

    });
</script>

{% endblock %} {% block content %}
<template id="source"> {{ html | safe }} </template>
{% endblock %}

<!--
<script>
window.addEventListener('load', function () {

        // Add the main.css again to insert the nav css 
        var cssLink = document.createElement('link');
        cssLink.rel = 'stylesheet';
        cssLink.href = '/static/css/main.css';
	cssLink.media = 'screen';
        var head = document.getElementsByTagName('head')[0];
        head.insertBefore(cssLink, head.firstChild);

})
</script>
-->
{% block footer %}
<br />
{% endblock %}
