/* Fonts */

@font-face {
  font-family: "Symbola";
  src: url("../fonts/Symbola.ttf") format("truetype");
}


@mixin font-symbola() {
	font-family: "Symbola", sans-serif;
}

.font-symbola {
	@include font-symbola();
}
