
@font-face {
  font-family: "Ortica";
  src: url("../fonts/Ortica-Font/Ortica-Light.woff") format("woff");
  font-weight: 300;
}

@mixin font-ortica ( $weight: 300, $with-plumber: true ){
	font-family: Ortica, serif;
	font-weight: $weight;
	// @if $with-plumber {
  //   @include plumber(
	// 			$baseline: $baseline-ortica
	// 		);
  // }
}

.font-ortica {
  @include font-ortica();
}