/* Pagedjs/paged media specific styles */

@page {
  size: 110mm 200mm;
  margin-top: 15mm;
  margin-right: 10mm;
  margin-bottom: 25mm;
  margin-left: 15mm;
  /* bleed: 6mm;
   marks: crop cross; */
  @footnote {
    float: bottom;
  }
	@bottom-center {
    content: counter(page);
  }
}

@page:left {
	margin-right: 15mm;
  margin-left: 10mm;
	@top-center {
    content: string(chapterTitle);
  }
}

@page:right {
  @top-left {
    content: string(articleTitle); 
  }
	@top-right {
		content: string(author);
	}
}


@page:first {
  @top-left {
    content: "";
  }
  @bottom-right-corner {
    content: "";
  }
}

.pagedjs_page {
	background-color: transparent;
}

.pagedjs_margin-bottom-left-corner,
.pagedjs_margin-bottom-right-corner {
  font-size: 1.5rem;
  font-family: Ortica, serif;
}

/* Setting variables */

h1 {
  string-set: chapterTitle content(text);
}

h2 {
  counter-increment: countChapter;
	string-set: articleTitle content(text);
}

span.author {
	string-set: author content(text);
}

/* Move the footnotes to the footer */
span.footnote {
  float: footnote;
}


/* https://gitlab.pagedmedia.org/tools/pagedjs-website/blob/73b38434d0d3395cc6c2a2d11510fa33d1e67fcf/content/posts/2020-05-13-notes-about-notes/index.md */
/* 
.note {
  position: note(notes);
  outline: 1px dotted red;
}

@page {
  @note-area {
    content: element(notes, all-once);
  }
}
*/
