@use 'sass:math';
@import "./vendor/plumber";

$baseline-ortica: 0.569;
$baseline-combine: 0.624;//0.349;
$baseline-authentic: 0.374;

@include plumber-set-defaults(
    $grid-height: 6pt,
    $font-size: 2,
    $line-height: 2,
    $leading-top: 2,
    $leading-bottom: 2,
		$baseline: $baseline-ortica,
);


@function strip-units($number) {
  @return math.div($number, ($number * 0 + 1));
}

@function pt($size_in_pt) {
  $result: strip-units(calc($size_in_pt / 6));
  @return $result;
}

