#toc {
	line-height: 1;
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: block;
		padding-left: 0;
	}

	/* the anchors mess up the baseline grid. 
	Couldn't find any other way than to set the height */
	a	{
		display: block;
		height: 12pt;
	}

	& > ul {
		margin-top: 0;
		& > li {
			margin-top: 20pt;
			padding-left: 0;
			&:first-of-type {
				margin-top: 0 !important;
			}
			& > ul {
				li {
					// padding-left: 0.5cm;
					padding-left: 0.25cm;
				}
			} 
		}
	}

	.tocnumber {
		display: none;
	}
	.toctitle {
		display: none;
	}

	/* fix indent for first and last items */
	.tocsection-1 ul {
		margin-top: 0;
		> li {
			padding-left: 0;
			.toctext {
				display: none;
			}
			.tocauthor {
				margin-left: 0;
			}
		}
	}

	.tocsection-9 ul li {
		padding-left: 0;
		.tocauthor {
		}
	}

	/* ⇢ ⇛ ⟴ ↦ ↬ ↣ ⇝ */
	.toclevel-1 > a {
		&:before {
			// content: "⇢";
			@include font-symbola();
			line-height: 12pt;
			font-size: 14pt;
		}
	}

	.tocsection-2 > a:before {
		content: "⇢"
	}

	.tocsection-3 > a:before {
		content: "⇛"
	}

	.tocsection-4 > a:before {
		content: "⟴"
	}

	.tocsection-5 > a:before {
		content: "↦"
	}

	.tocsection-6 > a:before {
		content: "↬"
	}

	.tocsection-7 > a:before {
		content: "↣"
	}

	.tocsection-8 > a:before {
		content: "⇝"
	}

	/* 
	Here it gets super specific. 
	Fixing the 'hackers & designers to its own line

	first fix the position of the pagenumber:
	*/
	.toclevel-2 a {
		position: relative;
		span.tocPageNumber {
			position: absolute;
			text-align: right;
			top: 0;
			right: 0;
			// right: -1em;
		}
	}
	.tocsection-9 .toclevel-2:nth-child(3) .tocauthor {
		display: block;
		margin: 0;

	}
}
