#toc {
	
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: block;
	}

	/* the anchors mess up the baseline grid. 
	Couldn't find any other way than to set the height */
	a	{
		display: block;
		height: 12pt;
	}

	.tocnumber {
		display: none;
	}
	.toctitle {
		display: none;
	}
	& > ul {
		margin-top: 0;
		& > li {
			margin-top: 12pt;
			&:first-of-type {
				margin-top: 0 !important
			}
			& > ul {
				li {
					padding-left: 1cm;
				}
			} 
		}
	}

	// .toclevel-2 a {
	// 	display: inline-block;
	// }

	// .toclevel-2 a  {
	// 	display: initial;
	// }
	.toclevel-2 a span.tocPageNumber {
		float: right;
		text-align: right;
	}
}