#toc {
	ul {
		list-style: none;
		padding: 0;
	}

	.toctitle {
		display: none;
	}
	& > ul > li {
		& > a span { /* first level */
		}
		& > ul {
			li {
				padding-left: 1cm;
			}
		} 
	}
	.tocnumber {
		display: none;
	}
}