/* Fonts & typography & baseline grid 
the baseline grid is tightly coupled (by Plumber) to 
the typeface so you find them combined in this file.
*/

// @import "font-literata";
@import "font-ortica";
@import "font-combine";
@import "font-authentic";

body {
	@include font-ortica();
	@include plumber(
			$leading-top: 0,
			$leading-bottom: 0,
      $baseline: $baseline-ortica
	);
	font-size: 7pt;
}

h1 {
	@include font-combine();
	font-size: 24pt;
}

.pagedjs_pages {
  .chapter > p {
		@include plumber(
			$leading-top: 0,
			$leading-bottom: 1,
			$baseline: $baseline-ortica,
			$font-size: pt(9.5pt),
		);
	}
	.note {
    @include plumber(
			$leading-top: 0,
			$leading-bottom: 0,
      $baseline: $baseline-ortica,
      $font-size: pt(9.5pt),
    );
  }
	.chapter {
		h2 {
			@include font-combine();
			@include plumber(
				$baseline: $baseline-authentic,
				$font-size: pt(24pt),
				$line-height: 3
			);
		}
		.author {
			@include font-authentic(90);
			@include plumber(
				$baseline: $baseline-authentic,
				$font-size: pt(7pt),
				$leading-top: 0,
				$leading-bottom: 0,
			);
		}
		blockquote {
			@include plumber(
				$baseline: $baseline-ortica,
				$font-size: pt(8.5pt),
				$leading-top: 1,
				$leading-bottom: 1,	
			);
			> p {
				margin: 0;
			}
		}
	}

	/* we have to disable the baseline grid margin/padding 
	that Plumber sets above for the first element on a page */
	.chapter > *:first-child {
		margin-top: 0;
		padding-top: 0;
	}

// ul, li {
// 	@include plumber(
// 		$line-height: 3,
// 		$leading-top: 0,
// 		$leading-bottom: 0
//     // $baseline: 0.065,
//     // $font-size: 1,
//   )
// }
}

#toc {
	ul {
		list-style: none;

	}

	& > ul > li {
		& > a .toctext { /* first level */
			@include font-ortica();
			@include plumber(
				$baseline: $baseline-ortica,
				$font-size: pt(7pt),
				$leading-top: 0,
				$leading-bottom: 0,
			);
		}
		& > ul {
			li .toctext {
				// padding-left: 1cm;
				@include font-authentic(90);
				@include plumber(
					$baseline: $baseline-authentic,
					$font-size: pt(7pt),//0.58333333, // 7pt
					$leading-top: 0,
					$leading-bottom: 0,
				);
			}
		} 
	}
	.tocnumber {
		display: none;
	}
}

.pagedjs_margin {
	@include font-authentic($weight:130);
	font-size: 7pt;
	text-align: center;
}

span.footnote {
  @include font-authentic($weight:90);
	font-size: 7pt;
	line-height: 8.8pt;
}

