/* 
This document contains the general styling for the Making Matters book.
Styles can be overwritten from the CSS view in the wiki.

https://pagedjs.org/documentation/
https://jamonserrano.github.io/plumber-sass/
*/

/* Plumber for baseline grid */
@import "plumber";

/* Paged and print specific styles are collected in paged.css */
@import "paged";
@import "typography";
@import "toc";
@import "debug";
@import "pagebreaks";
@import "spreads";
@import "loading";
@import "ui";

/* General styling */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-main);
	margin: 0;
	padding: 0;
}

img {
	width: auto; // height is set with javascript
	height: auto;
	max-width: 85%;
	max-height: 80%;
	border-radius: 1rem;
	display: block;
	margin: 12pt auto;	
}

h3 + p {
	text-indent: 0 !important;
}

.pagedjs_pages .chapter.invert-type {
	h2 + p {
		text-indent: 0 !important;
	}
}

/*
Setting named-pages
https://pagedjs.org/documentation/8-named-page/
*/

#cover {
	page: toc;
	list-style: none;
}

h1 {
	page: chapter-title;
}

.empty-page {
	page: empty-page !important;
}

.title-page {
	page: chapter-title;
}

/* Prevent superscript from messing up the line-height */
sup { vertical-align: top; position: relative; top: -0.5em; }

a {
  text-decoration: none;
  color: black;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

/* Generic css */

/* Show url of a tags */
/* a::after {
content: " (" attr(href) ")";
} */


a.image {
	display: block;
	text-align: center;
}

.pagedjs_pages .pagedjs_area .chapter .image-container {
	margin: 0;
	padding: 0;
	text-indent: 0;
	text-align: center;
	a {
		display: block;
	}
	// img {
	// 	display: block;
	// 	margin: 12pt auto;
	// }

}

/* 
Page margin colors. The color names are specified in sketch.js
Available color: red, green, brown
*/

@page chapter-title {
	@top-center {
    content: "";
  }
	@bottom-center {
		content: "";
	}
	@top-left {
    content: "";
  }
	@top-right {
    content: "";
  }
}


/* 
	Change the display of these margin elements to inline-block
	so they have a meaningful width for use with the P5js sketch.
*/
.pagedjs_pages .pagedjs_margin-top-center .pagedjs_margin-content,
.pagedjs_pages .pagedjs_margin-bottom-center .pagedjs_margin-content {
	display: inline-block;
	width: auto !important;
	margin: 0 auto;
}


/* For placement op p5js sketch relative to the page */
.pagedjs_page, .pagedjs_pagebox {
	position: relative;
}


/* First page */

.book-title {
	@include font-ortica();
	font-size: 14pt;
	line-height: 15pt;
}

/* thumbnails, keep caption and image on same page */
.thumb {
	break-inside: avoid;
}

.thumbinner {
	margin: 0 auto;
}

/* mediawiki gives thumbs an inline fixed width */
.thumbinner.image-container {
	width: auto !important;
}

mark {
	background-color: transparent;;
}
/* for debugging */
.grid mark {
	background-color: rgba(255,255,0,0.3);
}

mark:after {
	@include font-symbola();
	font-size: 10pt;
	// line-height: 10pt;
	line-height: 0;
	// so as not to create unequal line heights in footnotes
}
// ⇢ ⇛ ⟴ ↦ ↬ ↣ ⇝
.c1:after {
	content: "⇢";
}
.c2:after {
	content: "⇛";
}
.c3:after {
	content: "⟴";
}
.c4:after {
	content: "↦";
}
.c5:after {
	content: "↬";
}
.c6:after {
	content: "↣";
}
.c7:after {
	content: "⇝";
}
