/* 
This document contains the general styling for the Making Matters book.
Styles can be overwritten from the CSS view in the wiki.

https://pagedjs.org/documentation/
https://jamonserrano.github.io/plumber-sass/
*/

/* Plumber for baseline grid */
@import "plumber";

/* Paged and print specific styles are collected in paged.css */
@import "paged";
@import "typography";
@import "toc";
@import "debug";
@import "pagebreaks";

/* General styling */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-main);
}

img {
	max-width: 100%;
	height: auto;
}

/*
Setting named-pages
https://pagedjs.org/documentation/8-named-page/
*/
#introduction,
.chapter-introduction {
	page: intro;
}

#cover {
	page: toc;
	list-style: none;
}

/* Prevent superscript from messing up the line-height */
sup { vertical-align: top; position: relative; top: -0.5em; }

a {
  text-decoration: none;
  color: black;
}

/* Generic css */

/* Show url of a tags */
/* a::after {
content: " (" attr(href) ")";
} */

img {
  max-width: 100%;
}



/* 
Page margin colors. The color names are specified in sketch.js
Available color: red, green, brown
*/

@page toc {
	--base-color: green;
}

@page intro {
	--base-color: brown;
}

.pagedjs_intro_page + .pagedjs_blank_page {
	--base-color: brown;
}

.pagedjs_intro_page + div {
	--base-color: brown;
}



/* 
	Change the display of these margin elements to inline-block
	so they have a meaningful width for use with the P5js sketch.
*/
.pagedjs_pages .pagedjs_margin-top-center .pagedjs_margin-content,
.pagedjs_pages .pagedjs_margin-bottom-center .pagedjs_margin-content {
	display: inline-block;
	width: auto !important;
	margin: 0 auto;
}


/* For placement op p5js sketch relative to the page */
.pagedjs_page, .pagedjs_pagebox {
	position: relative;
}


/* First page */

.book-title {
	@include font-ortica();
	font-size: 14pt;
	line-height: 15pt;
}
