@font-face {
    font-family: 'Literata';
    src: url('Literata-Black.eot');
    src: local('Literata Black'), local('Literata-Black'),
        url('Literata-Black.eot?#iefix') format('embedded-opentype'),
        url('Literata-Black.woff2') format('woff2'),
        url('Literata-Black.woff') format('woff'),
        url('Literata-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-BlackItalic.eot');
    src: local('Literata Black Italic'), local('Literata-BlackItalic'),
        url('Literata-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Literata-BlackItalic.woff2') format('woff2'),
        url('Literata-BlackItalic.woff') format('woff'),
        url('Literata-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Bold.eot');
    src: local('Literata Bold'), local('Literata-Bold'),
        url('Literata-Bold.eot?#iefix') format('embedded-opentype'),
        url('Literata-Bold.woff2') format('woff2'),
        url('Literata-Bold.woff') format('woff'),
        url('Literata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-ExtraLight.eot');
    src: local('Literata ExtraLight'), local('Literata-ExtraLight'),
        url('Literata-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Literata-ExtraLight.woff2') format('woff2'),
        url('Literata-ExtraLight.woff') format('woff'),
        url('Literata-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-BoldItalic.eot');
    src: local('Literata Bold Italic'), local('Literata-BoldItalic'),
        url('Literata-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Literata-BoldItalic.woff2') format('woff2'),
        url('Literata-BoldItalic.woff') format('woff'),
        url('Literata-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-ExtraBold.eot');
    src: local('Literata ExtraBold'), local('Literata-ExtraBold'),
        url('Literata-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Literata-ExtraBold.woff2') format('woff2'),
        url('Literata-ExtraBold.woff') format('woff'),
        url('Literata-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Italic.eot');
    src: local('Literata Italic'), local('Literata-Italic'),
        url('Literata-Italic.eot?#iefix') format('embedded-opentype'),
        url('Literata-Italic.woff2') format('woff2'),
        url('Literata-Italic.woff') format('woff'),
        url('Literata-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-ExtraBoldItalic.eot');
    src: local('Literata ExtraBold Italic'), local('Literata-ExtraBoldItalic'),
        url('Literata-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Literata-ExtraBoldItalic.woff2') format('woff2'),
        url('Literata-ExtraBoldItalic.woff') format('woff'),
        url('Literata-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Light.eot');
    src: local('Literata Light'), local('Literata-Light'),
        url('Literata-Light.eot?#iefix') format('embedded-opentype'),
        url('Literata-Light.woff2') format('woff2'),
        url('Literata-Light.woff') format('woff'),
        url('Literata-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-ExtraLightItalic.eot');
    src: local('Literata ExtraLight Italic'), local('Literata-ExtraLightItalic'),
        url('Literata-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Literata-ExtraLightItalic.woff2') format('woff2'),
        url('Literata-ExtraLightItalic.woff') format('woff'),
        url('Literata-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-SemiBoldItalic.eot');
    src: local('Literata SemiBold Italic'), local('Literata-SemiBoldItalic'),
        url('Literata-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Literata-SemiBoldItalic.woff2') format('woff2'),
        url('Literata-SemiBoldItalic.woff') format('woff'),
        url('Literata-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-MediumItalic.eot');
    src: local('Literata Medium Italic'), local('Literata-MediumItalic'),
        url('Literata-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Literata-MediumItalic.woff2') format('woff2'),
        url('Literata-MediumItalic.woff') format('woff'),
        url('Literata-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Regular.eot');
    src: local('Literata Regular'), local('Literata-Regular'),
        url('Literata-Regular.eot?#iefix') format('embedded-opentype'),
        url('Literata-Regular.woff2') format('woff2'),
        url('Literata-Regular.woff') format('woff'),
        url('Literata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-SemiBold.eot');
    src: local('Literata SemiBold'), local('Literata-SemiBold'),
        url('Literata-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Literata-SemiBold.woff2') format('woff2'),
        url('Literata-SemiBold.woff') format('woff'),
        url('Literata-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-LightItalic.eot');
    src: local('Literata Light Italic'), local('Literata-LightItalic'),
        url('Literata-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Literata-LightItalic.woff2') format('woff2'),
        url('Literata-LightItalic.woff') format('woff'),
        url('Literata-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Medium.eot');
    src: local('Literata Medium'), local('Literata-Medium'),
        url('Literata-Medium.eot?#iefix') format('embedded-opentype'),
        url('Literata-Medium.woff2') format('woff2'),
        url('Literata-Medium.woff') format('woff'),
        url('Literata-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

